  <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
         <p>My name is PURU AHALAWAT and I am 19 years old. I am a young individual with a passion for creativity and self-expression. I love traveling, and I try to take a trip every season. On my last trip to Boston, my flight was delayed, and I had a show to get to. As soon as I found out about the delay, I called my hotel to confirm a later check-in. I knew I would have enough time to make my show, but I scheduled my rideshare from the hotel to the theater to save time. Once I got to my hotel, I had about 10 minutes to settle into my room and then get into my rideshare to the theater.
Traveling allows me to adapt to new situations and use my organization and planning skills to ensure I have the most fun I can. I try to anticipate possible delays and other interruptions in my travel and always have a list of important contacts, such as my hotel front desk or travel coordinator. These strategies prepare me for many possible situations, which is how I approach my event and travel planning as an administrative assistant.</p>
          
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for the upcoming content.</p>
        </aside>
      </div>
