  <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
         <p>My name is PURU AHALAWAT and I am 19 years old. I am a young individual with a passion for creativity and self-expression. My hobbies include listening to music and drawing, which are both great ways for me to unwind and explore my imagination. Whether it's relaxing to the sounds of my favorite songs or putting pencil to paper to bring my ideas to life, these activities bring me a lot of joy and fulfillment.</p>
          <p>I believe that our hobbies are an important part of who we are and can tell a lot about our interests and personalities. For me, listening to music and drawing are two of the many ways that I express myself and stay connected to the world around me. Whether I'm creating something new or simply enjoying the beauty of art, these activities are an integral part of my life and allow me to feel inspired and refreshed.</p>
          <p>In addition to my creative pursuits, I am also a hardworking and dedicated individual who is always looking for new ways to grow and develop. Whether it's through education, work, or personal experiences, I am constantly seeking out opportunities to learn and expand my horizons. I believe that with determination and a positive attitude, anything is possible, and I am always striving to achieve my goals and reach my full potential.</p>
          <p>In conclusion, I am a young, creative, and driven individual who is always looking for new ways to express myself and grow as a person. Whether it's through my hobbies or my daily life, I am always seeking out new experiences and opportunities to learn and grow.</p>
          
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for the upcoming content.</p>
        </aside>
      </div>
